<config>
    <database>
        <host>127.0.1.1</host>
        <port>5432</port>
        <dbname>cvaultdb</dbname>
        <user>cvadmin</user>
        <password>gAAAAABnIlcKYvCUpFhG8Sm_J639woL7kWakOqTvcrV5MekCsy1sUDTW4DiRubg7ggL0EyeGO9EeiVOG5vMpjogoIuHMWzlRww==</password>
        <description>CASOC Vault DB system (AdminPassword123!)</description>
        <key>dmz1nEn6Xw9vHDUOJmXp1bpn5V7eoPGIfCdQ_S4PfL4=</key></database>
    <api>
        <hostname>127.0.0.1</hostname>
        <port>5000</port>
        <initial_token>initial_token_secret</initial_token>
        <token_expire_minutes>20</token_expire_minutes>
    </api>
</config>