global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend postgresql
    bind *:5432
    default_backend postgresql_backend

backend postgresql_backend
    balance roundrobin
    server postgres1 postgres1:5432 check
    server postgres2 postgres2:5432 check